<div class="w-100 d-flex flex-column align-items-center"> 
  <h3>お探しのページは見つかりません。</h3>
  <h3>ご指定のURLの再度ご確認ください。</h3>
  <%= link_to "ログインページへ", new_session_path, class: "btn btn-outline-primary btn-lg" %>
</div>