<button type="button" class="btn btn-light w-100">
  <h1>Go To Kintai</h1>  
  <h3>お探しのページは見つかりません。</h3>
  <h3>ご指定のURLの再度ご確認ください。</h3>
</button>
<%= link_to "ログインページへ", new_session_path, class: "btn btn-outline-warning btn-lg w-100" %>